// ? <ПЕРЕМЕННЫЕ>===========================================================================================================
// todo <_ layout size _> =====================================================
$minWidthContainer: 320;
$maxWidthContainer: 1170;

// todo <_ breakpoints _> =====================================================
$md5: 1440;
$md4: 1200;
$md3: 992;
$md2: 768;
$md1: 540;

// todo <_ colors _> =====================================================
$color-bc: #F9F9FF;


// ? <_ INSTALL FILE _> =============================================================================================
//
// todo <_ main settings _> =========================================================================
//
@import "./mixins.scss";

@import "./fonts.scss";
@import "./forms.scss";
@import "./ui.scss";
//
// todo <_ pages _> =========================================================================
//
@import "./-home.scss";
//
// todo <_ blocks _> =========================================================================
//

//
// todo <_ reset _> =========================================================================
//
@import "./reset.scss";



// ? <_ MAIN GRID  _> =============================================================================================
.container {
    max-width: $md2+px;
    margin: 0 auto;
    padding: 0 1rem;
    
    @media (min-width: 540) {
        padding: 0 3rem;
    }
}



// ? <_ LAYOUT SETTINGS _> =============================================================================================
html {
    font-size: 62.5%;
}

body {
    background-color: $color-bc;
    color: $font-color;
    font-size: $font-size;
    font-family: $font-family;

    &.lock {
        overflow: hidden;
    }
}

.page {
    flex: 1 1 auto;
}